body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border-radius: 20px;
    text-align: center;
    width: 540px;
}
div {
    display: flex;
    flex-direction: column;
    text-align: left;
}
h1 {
    color: #283629;
    font-size: 35px;
}
img {
    width: 250px;
    margin-bottom: 20px;
}
fieldset {
    border-color: #26f134;
    color: #000;
    margin: 10px 0 15px;
    border-radius: 10px;
}
.divs-input {
    margin: 8px 0;
}
label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input, select, textarea {
  padding: 12px 14px;
  font-size: 15px;
  border: 2px solid #d0d4e4;
  border-radius: 8px;
  outline: none;
  transition: 0.25s ease;
}
input:focus {
  border-color: #4c7fd9;
  box-shadow: 0 0 6px rgba(0, 84, 240, 0.3);
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23283629%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M7%2010l5%205%205-5z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;
}
input::placeholder, textarea::placeholder {
    color: #b5cab6;
}
.textarea {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-txt a {
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 14px;
    background-color: #4c7fd9;
    box-shadow: 0 0 20px rgba(0, 84, 240, 0.4);
    cursor: pointer;
    font-weight: 900;
}
.btn:hover {
    background-color: #4b88e0;
}
.error {
  color: red;
  font-size: 12px;
}
@media(max-width: 900px){
    body {
        padding: 30px;
    }
    form {
        padding: 50px 30px;
        width: 100%;
    }
    input {
        padding: 15px;
    }
}